.App {
  text-align: center;
  background-color: #222d44;
}

.App-title > h1 {
  font-family: VeganStyle;
  font-size: 3em;
  margin-bottom: 15px;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-tasks {
  min-width: 90%;
  cursor: pointer;
}

.countTask{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1em;
  margin-left: 0.5em;
}

.addTask{
  padding: 9px!important;
  font-size: 1em!important;
}

.edition{
  position: relative;
  float: left;
  left: 20px;
}