.App {
  text-align: center;
  background-color: #222d44;
}

.App-title > h1 {
  font-family: VeganStyle;
  font-size: 3em;
  margin-bottom: 15px;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-tasks {
  min-width: 90%;
  cursor: pointer;
}

.countTask{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1em;
  margin-left: 0.5em;
}

.filterBar{
  background: rgb(42, 55, 83);  
  border-radius: 5px;
  width: 100%;
}

.task {
  color: black;
  transition: color 0.5s;
}

.deleteTask {
  font-size: 1.5em !important;
  color: rgb(235, 68, 68);
}

.deleteTask:hover {
  font-size: 1.6em !important;
  color: red;
}

.completed {
  text-decoration: line-through;
  color: #cdcdcd;
}

.App-link {
  color: #09d3ac;
}

.inputTask:not(:focus) {
  font-style: italic;
}

.inputTask {
  padding: 10px;
}

.addTask{
  padding: 9px!important;
  font-size: 1em!important;
}
